.homepage-header-report-form {
    background-color: $grey;
    background-color: rgba($grey, 0.125);
    padding: $column-gutter 0;
}


.homepage-intro-form {
    input,
    .button {
        margin-bottom: 0;
    }
}

.extras {
    transition: height 0.3s ease;
    height: 0;
    overflow: hidden;
    textarea {
        margin-bottom: 0;
    }
}

.media-buttons {
    .button {
        margin-bottom: 0;
        + .button {
            border-left: 1px solid rgba($white, 0.4);
        }
    }
    // modernizr class
    .flexbox & {
        display: flex;
        .button {
            flex: 1;
        }
    }
}


.anon-disclaimer {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: rem-calc(11);
    padding-top: rem-calc(15);
}

.form-container {
    padding-top: rem-calc(10);
    input[type="file"] {
        font-size: rem-calc(12);
    }
}




.media-form {
    *[data-cancel] {
        display: inline-block;
        color: tomato;
        font-size: rem-calc(12);
        cursor: pointer;
        border-bottom: 1px dotted;
    }
}
