header.header
  .sticky
    nav.top-bar(data-topbar role="navigation")
      ul.title-area
        li.name
          h1
            a(href="/") Yellr
        li.toggle-topbar.menu-icon
          a(href="#")
            span Menu
      div.top-bar-section
        ul.right
          li.has-dropdown
            a(href="assignments.html") Assignments
            ul.dropdown
              li
                a(href="#") First link in dropdown
          li
            a(href="news.html") News
          li.active
            a(href="submit-tip.html") Submit Tip
        //- ul.left
          li.active
            a(href="#") Submit tip
