doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Yellr Frontpage
    meta(name="description", content="Yellr Frontpage")
    include _head.jade

  body#index
    h1.visuallyhidden Yellr Frontpage
    a(href="#main").visuallyhidden Skip to main content
    .container
      include _header.jade

      div#main.main
        header.homepage-header
          .row
            .columns
              h1 Yellr
              p Rochester, New York <br/>
                small B E T A

        main.page-main
          .row.page-selection
            .columns.medium-12
              ul
                li
                  a#nav-page-local.small.page-button-deselected Local
                li
                  a#nav-page-assignments.small.page-button-deselected Assignments
                li
                  a#nav-page-stories.small.page-button-deselected Stories
                li
                  a#nav-page-post.small.page-button-deselected Post
                //li
                //  a#nav-page-about.small.page-button-deselected About

          div#page-local.page
            .row
              .columns
              h2 Posts in Your Area
              //ul#latest-posts.latest-posts-list
              //- {
              //-     "last_name": null,
              //-     "language_code": "en",
              //-     "post_id": 5,
              //-     "verified_user": false,
              //-     "post_datetime": "2015-03-27 15:58:23.122724",
              //-     "media_objects": [
              //-         {
              //-             "media_id": "9b6b9682-1bad-479f-8d1c-440a8f2bb1d3",
              //-             "preview_file_name": "a81a24b7-9f3f-49af-8d50-da13f52ef112p.jpg",
              //-             "file_name": "a81a24b7-9f3f-49af-8d50-da13f52ef112.jpg",
              //-             "media_text": "",
              //-             "caption": "I like our little city :).",
              //-             "media_type_description": "An Image.",
              //-             "media_type_name": "image"
              //-         }
              //-     ],
              //-     "first_name": null,
              //-     "question_text": "How will you be spending New Years Eve?",
              //-     "is_up_vote": 0,
              //-     "down_vote_count": 0,
              //-     "has_voted": 0,
              //-     "language_name": "English",
              //-     "up_vote_count": 1
              //- }
                script#latest-posts-li-template(type="text/x-handlebars-template").
                  {{#each latest_posts}}
                    <li>
                      <p>response to {{question_text}}</p>
                    </li>
                  {{/each}}

          div#page-assignments.page
            .row
              .columns.medium-12
                h2 Assignments

                ul#latest-assignments.latest-assignments-list
                script#assignment-li-template(type="text/x-handlebars-template").
                  {{#each assignments}}
                    <li class="assignment-box">
                      <h3><a href="#">{{question_text}}</a></h3>
                      <p>{{description}}</p>
                    </li>
                  {{/each}}

          div#page-stories.page
            .row
              .columns.medium-12
                h2 Community Stories
                ul#latest-stories.latest-stories-list
                script#stories-li-template(type="text/x-handlebars-template").
                  {{#each stories}}
                    <li>
                      <h3><a href="#">{{title}}</a></h3>
                      <p>{{description}}</p>
                      <p>{{top_text}}</p>
                      <p>{{author_first_name}} {{author_last_name}}</p>
                      <p>{{author_email}}</p>
                      <p>{{author_organization}}</p>
                      <p>{{banner_media_file_name}}</p>
                      <p>{{story_unique_id}}</p>
                      <p>{{tags}}</p>
                      <p>{{banner_media_id}}</p>
                      <p>{{edited_datetime}}</p>
                      <p>{{publish_datetime}}</p>
                      <div>{{{contents_rendered}}}</div>
                    </li>
                  {{/each}}

          div#page-post.page
            .row
              .columns.medium-12
                h2 Post to Yellr
                div
                  //p
                  //  strong Submit tip
                  //p
                    em All posts on Yellr are anonymous.
                  p Curious about how we protect your identity? <a href="#">Click here to learn more.</a>
                  .form-container
                    //- default to text form
                    //- text
                    form(data-media-type="text", method="post", accept-charset="utf-8", enctype="multipart/form-data")
                      input(type="hidden", name="media_type", value="text")
                      //input(type="text", name="media_caption", placeholder="Title (optional)")
                      textarea(name="media_text", rows="2", columns="10", placeholder="I said hey. What's going on?")

                    //- images
                    //- form(data-media-type="image", method="post", accept-charset="utf-8", enctype="multipart/form-data")
                      input(type="hidden", name="media_type", value="image")
                      input(type="file", name="media_file", multiple)
                      textarea(name="media_text", rows="2", columns="10", placeholder="Add description (optional)")

                    //- video
                    //- form(data-media-type="video", method="post", accept-charset="utf-8", enctype="multipart/form-data")
                      input(type="hidden", name="media_type", value="video")
                      textarea(name="media_text", rows="2", columns="10", placeholder="Add description")
                      input(type="file", name="media_file", multiple)


                    //- audio
                    //- form(data-media-type="audio", method="post", accept-charset="utf-8", enctype="multipart/form-data")
                      input(type="hidden", name="media_type", value="audio")
                      input(type="file", name="media_file", multiple)
                      textarea(name="media_text", rows="2", columns="10", placeholder="Add description")

                    .right
                      div.button
                        i.fa.fa-plus
                        | &nbsp;
                        i.fa.fa-video-camera
                      div.button
                        i.fa.fa-plus
                        | &nbsp;
                        i.fa.fa-camera
                      div.button
                        i.fa.fa-plus
                        | &nbsp;
                        i.fa.fa-headphones
                    br
                    input(type="submit", value="Submit")#submit-tip.button.right
            
          div#page-about.page
            .row
              .columns.medium-12
                h2 About Yellr



          //.row
            //.columns
              //h2 Latest Posts
              //ul#latest-posts.latest-posts-list
              //- {
              //-     "last_name": null,
              //-     "language_code": "en",
              //-     "post_id": 5,
              //-     "verified_user": false,
              //-     "post_datetime": "2015-03-27 15:58:23.122724",
              //-     "media_objects": [
              //-         {
              //-             "media_id": "9b6b9682-1bad-479f-8d1c-440a8f2bb1d3",
              //-             "preview_file_name": "a81a24b7-9f3f-49af-8d50-da13f52ef112p.jpg",
              //-             "file_name": "a81a24b7-9f3f-49af-8d50-da13f52ef112.jpg",
              //-             "media_text": "",
              //-             "caption": "I like our little city :).",
              //-             "media_type_description": "An Image.",
              //-             "media_type_name": "image"
              //-         }
              //-     ],
              //-     "first_name": null,
              //-     "question_text": "How will you be spending New Years Eve?",
              //-     "is_up_vote": 0,
              //-     "down_vote_count": 0,
              //-     "has_voted": 0,
              //-     "language_name": "English",
              //-     "up_vote_count": 1
              //- }
              //script#latest-posts-li-template(type="text/x-handlebars-template").
              //  {{#each latest_posts}}
              //    <li>
              //      <p>response to {{question_text}}</p>
              //    </li>
              //  {{/each}}


      include _footer.jade

    include _scripts.jade
