@import "mixins";
@import "elements";
@import "typography";


@import "forms/forms";

.homepage-header {
    background-color: $yellow;
}

.hgroup {
    text-align: center;
    padding: rem-calc(80) 0 rem-calc(50);
    h1 {
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 0;
    }
}


.title-1 {
    text-transform: uppercase;
    font-size: rem-calc(20);
    // font-size: rem-calc(24);
    font-weight: 500;
    margin-bottom: rem-calc(32);
}
.story-title {
    font-size: 3rem;
}

.main {
    padding: (2*$column-gutter) 0;
}
.no-bullets {
    list-style: none;
    .js & {
        opacity: 0;
        transition: opacity 0.5s ease;
    }
}
