@import "mixins";
@import "elements";
@import "typography";

.main {
    margin-top: $topbar-height;
}

.homepage-header {
    padding: 1rem 0;
    background-color: $yellow;
    text-align: center;

    h1 {
        margin-bottom: 1rem;
        font-size: 400%;
    }
}

ul {
    list-style-type: none;
}

.assignment-box {
    padding: 15px;
    border: 1px solid $yellow; 
}

.page {
    display: none;
}

.page-selection {
    //display: inline;
    //background: none repeat scroll 0% 0% #2F2F2F;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2F2F2F;
}

.page-selection li {
    display: inline;
}

.page-button-selected {
    background-color: #008CBA;
    padding: 8px;
    margin: 4px;
    margin-bottom: 10px;
    color: #ebebeb;
}

.page-button-selected:hover {
    color: #ebebeb;
}

.page-button-deselected {
    padding: 8px;
    margin: 4px;
    background-color: white !important;
    color: #008CBA !important;
    border: 1px solid #007095;
    transition: background-color 300ms ease-out 0s;
}

.page-button-deselected:hover, .page-button-deselected:focus {
    background-color: #007095 !important; 
}

.page-button-deselected:hover, .page-button-deselected:focus,{
    color: #ebebeb !important; 
}

// ----------------------------------------
// ----------------------------------------

.download-btn {
  display: block;
  text-decoration: none;
  background: $green;
  color: $white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border-radius: 4px;
  transition: background 0.3s ease-out;
  margin-top: 2rem;
  max-width: 14rem;
  &:hover {
    cursor: pointer;
    background: darken($green, 10%);
  }
}


.submit-news-tip-btn {
  background: $blue;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  transition: background 0.3s ease-out;
  &:hover {
    cursor: pointer;
    background: lighten($blue, 10%);
  }
}
